/* ГЛАВНОЕ МЕНЮ */

/* тёмный фон, центрирование сайта*/
body {
    background-color: #181818;
    margin: auto;
    justify-content: center;
    align-items: center;
    overflow: visible;
    display: grid;
}


@media(max-width:1920px) {
    .container {
        width: 1200px;
        margin-top: 30px;
    }

    .header_warp {
        width: 1200px;
    }

    .top {
        font-size: 48px;
    }

    .button {
        width: 199px;
    }

    .card {
        width: 224px;
        height: 476px;
        border-radius: 20px;
    }

    .warp {
        width: 184px;
        height: 436px;
        margin-top: 80%;
    }

    .card_img {
        width: 184px;
        height: 276px;
        border-radius: 10px;
    }

    .card p {
        font-size: 20px;
        height: 52px;
        width: 184px;
        line-height: 26px;
    }

    .card a {
        width: 184px;
        font-size: 14px;
    }
    .main {
        display: inline;
    }
    .main_2 {
        display:none;
    }

    .button_more {
        width: 184px;
        height: 44px;
    }

    /* регистрация */
    #okno {
        /* width: 320px; */
        height: 549px;
        border-radius: 10px;
        /* top: 12%; */
        margin-top: -275px;
        margin-left: -300px;
    }

    #okno2 {
        /* width: 320px; */
        height: 549px;
        border-radius: 10px;
        margin-top: -186px;
        margin-left: -300px;
        /* top: 12%; */
    }

    .reg_text {
        font-size: 32px;
    }

    .log_text {
        font-size: 32px;
    }

    .reg_log {
        width: 443px;
        height: 39px;
    }

    .input_all {
        width: 520px;
        height: 210px;
    }

    /* .input_name {
        width: 520px;
        height: 50px;
    }
    .input_other {
        width: 520px;
        height: 14px;
    } */
    .text_name {
        width: 520px;
        height: 60px;
    }

    .text_other {
        width: 210px;
        height: 60px;
    }

    .reg_button {
        width: 520px;
        height: 60px;
    }

    .accord {
        width: 397px;
        height: 20px;
    }

    .closed {
        width: 560px;
        height: 20px;
    }

    /* авторизация */
    .input_other2 {
        width: 520px;
        height: 60px;
    }

    .input_other2 input {
        width: 210px;
    }
}

@media(max-width:992px) {
    .container {
        width: 688px;
        margin-top: 30px;
    }

    .header_warp {
        width: 688px;
    }

    .top {
        font-size: 40px;
        width: 382px;
    }

    .button {
        width: 199px;
    }

    .card {
        width: 216px;
        height: 476px;
        border-radius: 20px;
    }

    .warp {
        width: 176px;
        height: 436px;
        margin-top: 80%;
    }

    .card_img {
        width: 176px;
        height: 276px;
        border-radius: 20px;
    }

    .card p {
        font-size: 20px;
        height: 52px;
        width: 184px;
        line-height: 26px;
    }

    .card a {
        width: 184px;
        font-size: 14px;
    }
    .main {
        display: inline;
    }
    .main_2 {
        display:none;
    }

    .button_more {
        width: 176px;
        height: 44px;
    }

    /* регистрация */
    #okno {
        /* width: 320px; */
        height: 549px;
        border-radius: 10px;
        /* top: 12%; */
        margin-top: -275px;
        margin-left: -300px;
    }

    #okno2 {
        /* width: 320px; */
        height: 549px;
        border-radius: 10px;
        /* top: 12%; */
        margin-top: -186px;
        margin-left: -300px;
    }

    .reg_text {
        font-size: 32px;
    }

    .log_text {
        font-size: 32px;
    }

    .reg_log {
        width: 443px;
        height: 39px;
    }

    /* инпуты */
    .input_all {
        width: 520px;
        height: 210px;
    }

    /* .input_name {
        width: 520px;
        height: 50px;
    }
    .input_other {
        width: 520px;
        height: 14px;
    } */
    .text_name {
        width: 520px;
        height: 60px;
    }

    .text_other {
        width: 210px;
        height: 60px;
    }

    .reg_button {
        width: 520px;
        height: 60px;
    }

    .accord {
        width: 397px;
        height: 20px;
    }

    .closed {
        width: 560px;
        height: 20px;
    }

    /* авторизация */
    .input_other2 {
        width: 520px;
        height: 60px;
    }

    .input_other2 input {
        width: 210px;
    }
}

@media(max-width:400px) {
    .container {
        width: 280px;
        margin-top: 15px;
    }

    .header_warp {
        width: 280px;
    }

    .header_name .main {
        display: none;
    }

    .top {
        font-size: 36px;
        width: 216px;
    }

    .button {
        width: 44px;
        height: 44px;
    }

    .button p {
        display: none;
        width: 382px;
    }

    .card {
        width: 134px;
        height: 357px;
        border-radius: 20px;
    }

    .warp {
        width: 102px;
        height: 357px;
        margin-top: 0%;
    }

    .card_img {
        width: 134px;
        height: 207px;
        border-radius: 20px;
    }

    .card p {
        font-size: 14px;
        height: 40px;
        width: 102px;
        line-height: 20px;
    }

    .card a {
        width: 102px;
        font-size: 12px;
    }
    .main {
        display: none;
    }
    .main_2 {
        display:inline;
    }

    .button_more {
        width: 102px;
        height: 44px;
    }

    /* регистрация */
    .container2 {
        width: 320px;
    }

    #okno {
        width: 320px;
        height: 656px;
        border-radius: 10px;
        position: initial;
        /* top: 1%; */
        margin-top: -328px;
        margin-left: -160px;
    }

    #okno2 {
        width: 320px;
        height: 656px;
        border-radius: 10px;
        /* top: 1%; */
        margin-top: -186px;
        margin-left: -160px;
    }

    .reg_text {
        font-size: 20px;
    }

    .log_text {
        font-size: 20px;
    }

    .reg_log {
        width: 280px;
        height: 24px;
    }

    /* инпуты */
    .input_all {
        width: 280px;
        height: 364px;
    }

    /* .input_name {
        width: 280px;
        height: 60px;
    }
    .input_other {
        width: 280px;
        height: 288px;
    } */
    .text_name {
        width: 250px;
        height: 60px;
    }

    .text_other {
        width: 280px;
        height: 60px;
    }

    .reg_button {
        width: 280px;
        height: 60px;
    }

    .accord {
        width: 280px;
        height: 40px;
    }

    .info {
        width: 280px;
        height: 40px;
    }

    .closed {
        width: 280px;
        height: 20px;
    }

    /* авторизация */
    .input_other2 {
        width: 280px;
        height: 136px;
    }

    .input_other2 input {
        width: 280px;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1200px;
        margin-top: 30px;
    }

    .header_warp {
        width: 1200px;
    }

    .top {
        font-size: 48px;
        width: 382px;
        /* height: 88px; */
    }

    .button {
        width: 199px;
    }

    .card {
        width: 224px;
        height: 476px;
        border-radius: 20px;
    }

    .warp {
        width: 184px;
        height: 436px;
        margin-top: 100%;
    }

    .card_img {
        width: 184px;
        height: 276px;
        border-radius: 12px;
    }

    .card p {
        font-size: 20px;
        width: 184px;
        height: 52px;
        line-height: 26px;
    }

    .card a {
        width: 184px;
        font-size: 14px;
    }

    .main {
        display: inline;
    }
    .main_2 {
        display:none;
    }

    .button_more {
        width: 184px;
        height: 44px;
        margin-top: 80%;
    }

    /* регистрация */
    #okno {
        /* width: 320px; */
        height: 549px;
        border-radius: 10px;
        /* top: 12%; */
        margin-top: -275px;
        margin-left: -300px;
    }

    #okno2 {
        /* width: 320px; */
        height: 549px;
        border-radius: 10px;
        margin-top: -186px;
        margin-left: -300px;
        /* top: 12%; */
    }

    .reg_text {
        font-size: 32px;
    }

    .log_text {
        font-size: 32px;
    }

    .reg_log {
        width: 443px;
        height: 39px;
    }

    /* инпуты */
    .input_all {
        width: 520px;
        height: 210px;
    }

    /* .input_name {
        width: 520px;
        height: 50px;
    }
    .input_other {
        width: 520px;
        height: 14px;
    } */
    .text_name {
        width: 520px;
        height: 60px;
    }

    .text_other {
        width: 210px;
        height: 60px;
    }

    .reg_button {
        width: 520px;
        height: 60px;
    }

    .accord {
        width: 397px;
        height: 20px;
    }

    .info {
        width: 338px;
        height: 20px;
    }

    .closed {
        width: 560px;
        height: 20px;
    }

    /* авторизация */
    .input_other2 {
        width: 520px;
        height: 60px;
    }

    .input_other2 input {
        width: 210px;
    }
}

/* фиксируем размер, центрируем меню */
.container {
    max-width: 1920px;
    min-height: 60px;
    /* margin-top: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* делаем размещение элементов по ширине */
.header_warp {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* justify-items:space-between; */
    /* align-items:flex-start; */
}

/* полоски-разделители */
hr {
    color: white;
    opacity: 10%;
    margin-top: 8px;
}

/* иконка и название сайта в строку */
.header_icons {
    display: inline-flex;
}


.header_name {
    padding-left: 18px;
    font-size: 18;
}

.register_logIn {
    font-size: 16;
    width: 170px;
    height: 30px;
    justify-content: space-between;
    display: flex;
}

.main_button1 {
    width: 103px;
    height: 30px;
    background-color: #181818;
    border-radius: 5px;
    border: 0;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.main_button1:hover {
    background-color: #242424;
}

.main_button2 {
    width: 45px;
    height: 30px;
    background-color: #181818;
    border-radius: 5px;
    border: 0;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.main_button2:hover {
    background-color: #242424;
}


/* параметры тега <a> основного контента */
.main {
    color: var(--White, #ECECEC);
    /* width: 155px; */
    /* height: 44px; */
    /* left: 58px; */
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

/* параметры "топ 20" */
.top {
    font-family: 'Inter', sans-serif;
    max-width: 382px;
    /* font-size: 48px; */
    color: white;
}

/* кнопка "добавить обзор" */
.button {
    max-width: 199px;
    max-height: 60px;
    border-radius: 10px;
    background-color: orange;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button:hover {
    outline: 1px solid white;
}

/* параметры текста кнопки */
.button p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;
    padding: auto;
    line-height: 10px;
    padding-left: 10px;
}

/* внешние параметры каждой карточки с обзором */

.card {
    max-width: 224px;
    max-height: 476px;
    /* border-radius: 20px; */
    background-color: #242424;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* параметры размещения для объектов внутри карточки */
.warp {
    max-width: 184px;
    max-height: 436px;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-top: 20px; */
    display: grid;
    justify-content: center;
    justify-items: center;
    /* align-items:center; */
    margin: 0;
}



/* параметры текста <p> в карточке */
.card p {
    font-family: 'Inter', sans-serif;
    /* font-size: calc(14px + 4 * (50vw - 320px) / 500); */
    max-width: 184px;
    max-height: 52px;
    /* min-height: 52px; */
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: white;
    /* margin-top: 16px; */
    /* margin-bottom: 12px; */
    margin: auto;
    /* line-height: 20px; */
}

/* параметры текста <a> в карточке */
.card a {
    font-family: 'Inter', sans-serif;
    /* font-size: 14px; */
    color: gray;
    padding: auto;
    /* line-height: 20px; */
}

.card_img {
    max-width: 184px;
    max-height: 276px;
    display: flex;
    /* height: 276px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    /* border-radius: 10px; */
}

/* кнопка "подробнее" */
.button_more {
    max-width: 184px;
    max-height: 44px;
    border-radius: 10px;
    background-color: #242424;
    outline: 2px solid orange;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: orange;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button_more:hover {
    background-color: orange;
    color: white;
}

/* кнопка "показать больше" */
.button_show_more {
    width: 1200px;
    height: 44px;
    border-radius: 10px;
    background-color: #242424;
    outline: 2px solid orange;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: orange;
    margin-top: 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button_show_more:hover {
    background-color: orange;
    color: white;
}

.gmail {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: orange;
    padding: auto;
    line-height: 20px;
}

.info {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;
    padding: auto;
    line-height: 20px;
}


/* ОКНО РЕГИСТРАЦИИ */


.container2 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 5%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* display: none; */
}

#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    /* overflow: hidden; */
}

#okno {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height: 656px;
    border-radius: 20px;
    background-color: #FFFFFF;
    /* top: 12%; */
    /* позиционируем */
    position: fixed;
    top: 50%;
    left: 50%;
}

#zatemnenie:target {
    display: block;
    /* overflow: hidden; */
}


.closed {
    max-width: 560px;
    max-height: 5px;
    justify-content: right;
    display: flex;
    bottom: 2px;
    position: relative;
    padding-top: 10px;
}

.okno2.close {
    width: 520px;
    height: 20px;
    padding: 0;
    float: right;
    cursor: pointer;
}

.close:hover {
    background: #e6e6ff;
}

.okno2 .reg_log .log .close {
    padding: 0;
    float: right;
    cursor: pointer;
}

.reg_log {
    max-width: 443px;
    max-height: 39px;
    display: flex;
    justify-content: space-between;
    /* top: 5px; */
    position: relative;
    /* padding-top: 10px; */
}

.reg_text {
    color: #181818;
    font-family: 'Inter', sans-serif;
    /* font-size: 32px; */
    text-decoration: none;
}

.log_text {
    color: #B9B9B9;
    font-family: 'Inter', sans-serif;
    /* font-size: 32px; */
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.log_text:hover {
    color: black;
}

.input_all {
    max-width: 520px;
    max-height: 364px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.input_name {
    max-width: 520px;
    max-height: 60px;
}

.text_name {
    max-width: 480px;
    max-height: 60px;
    border: 2px solid #B9B9B9;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    box-shadow: none;
    transition: 0.5s;
    outline: none;
}


.input_other {
    max-width: 520px;
    max-height: 288px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.text_other {
    max-width: 280px;
    max-height: 60px;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    border: 2px solid #B9B9B9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border-color: orange;
}

.accord {
    display: flex;
    max-width: 397px;
    max-height: 40px;
    font-family: 'Inter', sans-serif;
}


.check_mark {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #FFFFFF;
    outline: 2px solid #B9B9B9;
}

.check1 {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-left: 12px;
}

.check2 {
    color: orange;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-left: 5px;
}

.reg_button {
    max-width: 520px;
    max-height: 60px;
    border-radius: 10px;
    background-color: orange;
    border: 0;
    opacity: 0.3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


a {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.info {
    max-width: 338px;
    max-height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.important {
    color: #838383;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-left: 12px;
}

/* логин */

#zatemnenie2 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
}

#okno2 {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height: 372px;
    border-radius: 20px;
    background-color: #FFFFFF;
    /* top: 12%; */
    /* позиционируем */
    position: fixed;
    top: 50%;
    left: 50%;
}

#zatemnenie2:target {
    display: block;
    
}


.okno2 .close {
    width: 20px;
    height: 20px;
    padding: 0;
    float: right;
    cursor: pointer;
}

.okno2 .close:hover {
    background: #e6e6ff;
}

.input_other2 {
    max-width: 520px;
    max-height: 136px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.input_other2 input {
    max-width: 280px;
    height: 60px;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    /* padding-right: 20px; */
    border: 2px solid #B9B9B9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}



.container2 .header_warp .reg_log .reg .reg_text {
    color: #B9B9B9;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.container2 .header_warp .reg_log .reg .reg_text:hover {
    color: black;
}

.container2 .header_warp .reg_log .log .log_text {
    color: #181818;
}

.container2 .header_warp .input {
    height: 60px;
}
